@charset "utf-8";

#wrap {
    width: 100%;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    color: #000;
    height: 100px;
}

header h1 {
    float: left;
    line-height: 80px;
}

header nav {
    float: right;

}

.main-m {
    position: relative;
    text-align: center;
}

/* .main-m::after {
    content: '';
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 240px;
    background-color: lightgray;
    z-index: 1;
    display: none;
} */

.sub-bg {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 240px;
    left: 0;
    background-color: lightgray;
    z-index: 1;
    display: none;
}

.main-m>li {
    float: left;
    line-height: 80px;
    position: relative;
    width: 80px;
    height: 20px;

}

.main-m>li a {
    display: block;
    /* padding: 0 40px; */
}

.sub-m {
    display: none;
    color: #333;
    background-color: lightgrey;
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 80px;
    height: 20px;
}

.main-m:hover::after {
    display: block;
}

.main-m:hover .sub-m {
    display: block;
}


.main-m .sub-m li:hover {
    color: #000;
    font-weight: bold;
}

.section02 h3 {
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
}

.section02 h3 a {
    display: inline-block;
    border-bottom: 3px solid transparent;
    margin: 0 10px;
}

.section02 h3 a:hover {
    border-bottom: 3px solid orange;
}


/*  */
.section02 .list01 {
    display: none;
}

.section02 .list01.on {
    display: block;
}

.list01 .poster {
    float: left;
    width: calc((100% - 40px) / 3);
    margin-right: 10px;
}

.section1 .last01 {
    margin-right: 0px;
}

.section1 .poster .screen {
    height: 427px;
    overflow: hidden;
    position: relative;
}



.list01 .poster .screen:hover a::before {
    opacity: 0.7;
}

.list01 .poster .screen:hover a::after {
    top: 50%;
}

.list01 .poster img {
    width: 100%;
}

/*  */

.section02 .list02 {
    display: none;
}

.section02 .list02.on {
    display: block;
}

.list02 .poster {
    float: left;
    width: calc((100% - 40px) / 3);
    margin-right: 10px;
}

.section1 .last02 {
    margin-right: 0px;
}

.list02 .poster .screen:hover a::before {
    opacity: 0.7;
}

.list02 .poster .screen:hover a::after {
    top: 50%;
}

.list02 .poster img {
    width: 100%;
}

/*  1번글씨*/
.list01 p {
    text-align: center;
    padding-top: 3px;
    color: #000;
}

.list01 p span {
    font-size: 12px;
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    padding-left: 10px;
}

.list01 p em {
    font-size: 12px;
    float: right;
    border: 1px solid #333;
    border-radius: 25%;
    margin-left: 20px;
}


/* 2번글씨 */
.list02 p {
    text-align: center;
    padding-top: 3px;
    color: #000;
}

.list02 p span {
    font-size: 12px;
    background-image: url(../images/star.png);
    background-repeat: no-repeat;
    padding-left: 10px;
}

.list02 p em {
    font-size: 12px;
    float: right;
    border: 1px solid #333;
    border-radius: 25%;
    margin-left: 20px;
}



/* 이벤트 어쩌구 */
.event {
    height: 500px;
    /* background-color: peachpuff; */
}


.left-cont {
    width: 850px;
    position: relative;
    float: left;
}

.left-cont>div {
    display: block;
}

.box01 {
    float: left;
    width: calc(50% - 10px);
    height: 200px;
    margin-right: 10px;
    background-color: paleturquoise;
    box-sizing: border-box;
}

.box01 img {
    width: 100%;
}

.box02 {
    float: left;
    width: calc(50% - 10px);
    height: 200px;
    margin-left: 10px;
    box-sizing: border-box;
    background-color: paleturquoise;
}

.box02 img {
    width: 100%;
}

.box03 {
    float: left;
    margin-top: 20px;
    width: 100%;
    height: 250px;
}

.box04 {
    float: right;
    width: 300px;
    height: 470px;
}

/* 아이콘 */
.icon {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a {
    display: block;
    margin: 0 40px;
    width: 70px;
    height: 70px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.icon a img {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

/* 배너 */
.banner {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner img {
    width: 100%;
}


/* 풋터 */
footer {
    height: 100px;
    background-color: rgb(161, 182, 248);
}

.last-logo {
    display: block;
    width: 200px;
    float: left;
}

.text {
    width: 800px;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
    color: #000;
    font-size: 15px;
    position: relative;
    top: 50%;
}

.text a {
    margin-right: 40px;
}

.ha{
    width: 190px;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
    color: #000;
    font-size: 15px;
}